{% extends "www/base.html" %}

{% block title %}Wydziały{% endblock %}

{% block content %}
<div class="row justify-content-center g-0">
    <div class="card" style="width: 18rem;">
        <img src="{{ wydzial.logo.url }}" class="card-img-top p-5" alt="...">
        <div class="card-body">
            <h5 class="card-title text-center">{{ wydzial.nazwa }}</h5>
            <p class="card-text">

            </p>
        </div>
        <div class="card-footer text-center">
            <a class="btn" href="{% url 'wydzialy-lista' %}">Powrót</a>
        </div>
    </div>
</div>
{% endblock %}